#about-section {
	background: $body-bg;
}

.about-section {
	text-align: center;
	@extend %section-container-light;
	background: #fff;

	h1 {

	}

	a {
		text-decoration: none;
		color: $dark-turq;
				@include transition(all 0.5s ease-in);
	}
	a:hover {
		color: $link2;
	}


	p {
		margin-left: 16%;
		margin-right: 16%;
		margin-bottom: 10px;
	}

	figure {
	margin: 15px auto;
	display: inline-block;

	img {
		background: $body-bg;
	}
	}
}



