.contact-section {
	@extend %section-container-dark;
	background: $nav-bg;
}

.form-control {

	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.5;
	vertical-align: middle;
	border-radius: 4px;

	box-shadow: inset 0 1px 1px rgba(0,0,0, 0.70);
	@include transition (all 0.15s ease-in-out);
}

.form-horizontal button{
	margin-top: 15px;
}
