#navbar-wrapper {
	width: 100%;
}

.sticky-wrapper {
	background: $nav-bg;
}

.navbar {
	width: 100%;
}

.navbar-toggle {
	color: #fff;
	height: 45px;
	width: 45px;
	font-size: 2.2em;
	text-align: center;	
	
	.icon-close, .icon-list {
		@include center;
	}
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: $light-pink;
}


.navbar-default {
	text-decoration: none;
	border: 0;
	background-color: $nav-bg;
	text-transform: uppercase;
	display: inline-block;
	position: fixed;
	color: $nav-color;
	padding: 15px 0;

	.navbar-nav>li>a{
		padding-top: 20px;
		height: 60px;
		color: $nav-color;
	}

	.navbar-logo {
		text-decoration: none;
		color: $nav-color;
		font-size: 35px;
		padding-left: 20px;
		font-family: "Oxygen", sans-serif;
		line-height: 40px;
		margin-top: 7px;
		position: absolute;
		@include transition(color 0.5s);

		@media screen and (max-width: $mama-bear) {
			font-size: 28px;
			padding-left: 5px;
		}
	}

	a {
		@include transition(color 0.5s);
	}
	@include transition(color 0.5s);

}

.navbar-nav {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: inline-block;
	float: right;
	font-size: 1.5em;
	font-weight: 700;
	@include transition(color 0.5s);


}

.navbar-default a.navbar-brand:active,.navbar-default  {
    color: $nav-hover;
}

a.navbar-logo:hover {
	color: $light-pink;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:active,.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover {
	color: $nav-hover;
	background: 0 0;
}
.nav-effect a {
	@include transition(color 0.3s);

}
.navbar-default, .navbar-nav > li > a {

}

.navbar-collapse {
	text-align: center;
	box-shadow: none;}
