
//colors
// palette http://www.colourlovers.com/palette/932683/Compatible
$dark-turq: #3FB8AF;
$light-turq: #7FC7AF;
$light-pink: #FF9E9D;
$dark-pink: #FF3D7F;
$beige: #DAD8A7;
$dark-brown: #3B3A1D;



//general styles 
$body-color: #333;
$body-bg: #DAD8A7e; //or #1e1e1e #eee

$link1: $dark-turq;
$link2: #666;

// nav
$nav-color: #fff;
